@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 350px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
}

img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  margin: 0.5rem;
}

h2 {
  margin-bottom: 20px;
  color: hsl(218, 44%, 22%);
}

p {
  color: hsl(220, 15%, 55%);
  margin: 1rem;
}
